:root{
    /* Colours for the items styled (make all colour changes here) */
    --titlecolor: goldenrod;
    --textcolor: white;
    --buttontext: #016f32;
    --bgcolor: #016f32;
    --btncolor: goldenrod;

}

body {
    /*styling for everything in the body -background uses an image*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(IMG/table.png);
    background-color: var(--bgcolor);
    background-size: cover;
    text-align: center;
    color: var(--textcolor);
    font-weight: bold;
}

h1 {
    color: var(--titlecolor);
}

/* Add italic style to p with id="message-el" */
#message-el {
    font-style: italic;
}

/* Styling for buttons */
button {
    color: var(--buttontext);
    background-color: var(--btncolor);
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border:none;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
